@font-face {
  font-family: "Lucida";
  src: url(LucidaGrande.ttf);
}

@font-face {
  font-family: "LucidaBold";
  src: url(LucidaGrandeBold.ttf);
}

body, html{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #FFFFFF;
  font-family: "LucidaBold";
  font-size: 1rem;
  color: #000000;
}

#container {
  width: 100vw;
  height: 100vh;
  border-radius: 20px 20px 0 0;
  background-image: url("desktop.png");
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}

/* Make borders change when clickedd */
.draggableItem{
  touch-action: none;
  user-select: none;
  margin: 20px;
  background-color: #FFFFFF;
  border: solid #000000;
  border-width: medium thick thick medium;
  text-align: center;
  clip-path: polygon(
    0 0,
    0 0,
    98% 0,
    100% 2%,
    100% 100%,
    100% 100%,
    2% 100%,
    0% 98%,
    0% 0%
  )
}

.draggableItemheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #FFFFFF;
  border: #000000;
  border-style: none none double none;
  border-width: none none medium none;
  color: #000000;
}
.draggableItemfooter {
  padding: 10px;
  z-index: 10;
  background-color: #FFFFFF;
  border-style: solid none none none;
  border-top-width: medium;
  color: #000000;
}

img {
  padding: 10px;
}

.draggableItem>img {
  pointer-events: none;
}
